<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Dashboard Investissement</title>
</head>
<body class="bg-gray-100 p-4">
    
    <!-- Carte du Portefeuille Total -->
    <div class="bg-green-500 text-white p-6 rounded-lg shadow-md mb-4">
        
        <p class="text-2xl font-bold">Les societees :</p>
        
    </div>
    

    
    <!-- Historique des Transactions -->
    <div class="mt-6">
        
        <div class="bg-white p-4 rounded-lg shadow-md mt-2">
            <a href="dash2.html">
            <p class="font-bold">Info Boutique </p>
            <p class="text-gray-600 text-sm">Site web ecommerce</p>
            </a>
        </div>
        
    </div>
    
</body>
</html>
