<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Dashboard Investissement</title>
</head>
<body class="bg-gray-100 p-4">
    
    <!-- Carte du Portefeuille Total -->
    <div class="bg-green-500 text-white p-6 rounded-lg shadow-md mb-4">
        <h2 class="text-lg">Valeur total des commandes a payees</h2>
        <p class="text-2xl font-bold">350.00</p>
        <button class="mt-2 bg-white text-green-500 px-4 py-2 rounded-lg">Payee tout</button>
    </div>
    

    

    
    <!-- Historique des Transactions -->
    <div class="mt-6">
        <h2 class="text-xl font-semibold">Les commandes a payees:</h2>
        <div class="bg-white p-4 rounded-lg shadow-md mt-2">
            <p class="font-bold"> 200.00</p>
            <p class="text-gray-600 text-sm">id du commande :2</p>
            <button class="mt-2 bg-green-500 text-white px-4 py-2 rounded-lg">Payee</button>
        </div>
        <div class="bg-white p-4 rounded-lg shadow-md mt-2">
            <p class="font-bold"> 150.00</p>
            <p class="text-gray-600 text-sm">id du commande :1</p>
            <button class="mt-2 bg-green-500 text-white px-4 py-2 rounded-lg">Payee</button>
        </div>
        
    </div>
    
</body>
</html>
